<h1>World Wide Article Archive</h1>
<h2>Admins Login page</h2>
<form class="formFrame" [formGroup]="form" (ngSubmit)="signIn()">
  <div class="field">
    <label>email</label>
    <input type="text" formControlName="email" />
  </div>
  <div class="field">
    <label>Password</label>
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      formControlName="password"
    />
    <button class="toggle" type="button" (click)="togglePasswordVisibility()">
      <i class="fa-solid fa-eye{{ showPassword ? '-slash' : '' }}"></i>
    </button>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
