<h1>Welcome to the World Wild Article Archive</h1>

<h2>So what kind of articles do we publish?</h2>

<div class="divPara">
  <p>
    We know it is challenging to cover all the important issues, to invest
    resources in research and disseminate important news quickly and accurately
    – especially for independent reporting trying to overcome the right-wing and
    conservative media paradigm. So all articles published, can be republished
    for free, either translated or in the original language. You can use them
    for commercial and non-commercial purposes. You do not need to ask
    permission from or provide any credit.
  </p>
</div>
