h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(86, 85, 85);
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(142, 192, 189);
}

.divPara {
    text-align: center;
}

p {
    margin-left: 10px;
    margin-bottom: 20px;
    line-height: 1.8;
    color: rgb(86, 85, 85);
}

h3 {
    text-align: center;
    line-height: 2;
    color: rgb(86, 85, 85);
    margin-top: 5rem;
}

.wraper {
    display: flex;

}

.gridContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit)(12, 1fr);
    grid-template-rows: repeat(auto-fit)(20, 5vw);
    grid-gap: 25px;
    height: auto;
    margin-top: 50px;
    margin-right: 1rem;
    margin-left: 1rem;


}

.gridContainer>div {
    justify-items: center;
    display: inline-grid;
}

.item1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    line-height: 2;
    font-size: 0.8em;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    grid-column: 1/12;
    grid-row: 1/5;
    color: rgb(86, 85, 85);

}

.item1:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);
    ;
}

.item2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    line-height: 2;
    font-size: 0.8em;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 1/6;
    grid-row: 5/9;
}

.item2:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);
}

.item3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    line-height: 2;
    font-size: 0.8em;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 7/12;
    grid-row: 5/9;
}

.item3:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);
}

.item4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 1/4;
    grid-row: 9/13;
}

.item4:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);
}

.item5 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 5/8;
    grid-row: 9/13;
}

.item5:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);

}

.item6 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 9/12;
    grid-row: 9/13;
}

.item6:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);

}

.item7 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 1/4;
    grid-row: 13/17;
}

.item7:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);

}

.item8 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 5/8;
    grid-row: 13/17;
}

.item8:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);

}

.item9 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-size: 0.8em;
    line-height: 2;
    border: 3px solid rgb(89, 88, 88);
    border-radius: 8px;
    color: rgb(86, 85, 85);
    grid-column: 9/12;
    grid-row: 13/17;
}

.item9:hover {
    cursor: pointer;
    color: rgb(82, 151, 147);
    border-color: rgb(142, 192, 189);

}