@import '../../variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.row {
    display: flex;
    margin-bottom: 30px;
}