<h2>Reset Password</h2>

<form *ngIf="form" class="formFrame" [formGroup]="form">
  <h3>Password Recovery</h3>

  <div class="field">
    <label>Password:</label>
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      formControlName="password"
    />
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      formControlName="passwordConfirmation"
    />
    <button class="toggle" type="button" (click)="togglePasswordVisibility()">
      <i class="fa-solid fa-eye{{ showPassword ? '-slash' : '' }}"></i>
    </button>
  </div>
  <div>
    <button type="submit" (click)="send()">Submit</button>
  </div>
</form>
