<input
  class="search"
  type="search"
  [(ngModel)]="searchVal"
  placeholder=" search for User"
/>

<h2>Users Management</h2>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>UserName</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Registered at</th>
      <th>Edited at</th>
      <th>Operations</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="userList"
      *ngFor="let a of user.reverse() | search : searchVal; let i = index"
      (dblclick)="edit(a)"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ a.userName }}</td>
      <td>{{ a.fullName }}</td>
      <td>{{ a.email }}</td>
      <td>{{ a.createdAt }}</td>
      <td>{{ a.updatedtedAt }}</td>
      <td>
        <button class="edit" (click)="edit(a)">Edit</button>
      </td>
      <td><button class="remove" (click)="remove(a)">Remove</button></td>
    </tr>
  </tbody>
</table>
