<nav>
  <a
    *ngFor="let item of menu"
    [class.active]="active === item.route"
    [routerLink]="item.route"
    [hidden]="item.isConnected && !utility.user"
    >{{ item.title }}</a
  >
  <p *ngIf="!utility.user">
    <a routerLink="sign-in-user">Login</a>
    <a routerLink="sign-up-user">Sign up</a>
  </p>

  <a *ngIf="utility.user" routerLink="" (click)="signOut()">Logout</a>

  <div class="hello" *ngIf="utility.getUser()?.userName">
    Welcome {{ utility.getUser()?.userName }}
  </div>
  <!-- <div class="hello" *ngIf="utility.getUser()">
    Welcome {{ utility.getUser()?.userName }}
  </div> -->
</nav>
