<nav>
  <a
    *ngFor="let item of menu"
    [class.active]="active === item.route"
    [routerLink]="item.route"
    [hidden]="item.isConnected && !utility.user"
  >
    <i *ngIf="item.icon" class="fa fa-{{ item.icon }}"></i> {{ item.title }}</a
  >
  <p *ngIf="!utility.user">
    <a routerLink="sign-in-user"> <i class="fa fa-sign-in"></i> Login</a>
    <a routerLink="sign-up-user"> <i class="fa fa-user-plus"></i> Sign up</a>
  </p>

  <a *ngIf="utility.user" routerLink="" (click)="signOut()"
    ><i class="fa fa-sign-out"></i> Logout</a
  >
  <a
    >Welcome to our Site
    {{ utility.user ? utility.getUser()?.fullName : "Dear Visitor" }}!</a
  >
  <!-- <label for="search-text">Search Text</label> -->
</nav>

<div class="burgerContainer">
  <div class="burger" (click)="openNav()">&nbsp; &#9776;</div>
</div>

<nav class="sidenav" [style.width]="utility.isNavOpen ? '150px' : 0">
  <a class="closebtn" (click)="closeNav()">&times;</a>
  <a
    *ngFor="let item of menu"
    [class.active]="active === item.route"
    [routerLink]="item.route"
    [hidden]="item.isConnected && !utility.user"
    >{{ item.title }}</a
  >

  <p *ngIf="!utility.user">
    <a routerLink="">Home</a>
    <a routerLink="sign-in-user"><i class="fa fa-sign-in"></i>Login</a>
    <a routerLink="sign-up-user">SignUp</a>
  </p>
  <a *ngIf="utility.user" routerLink="" (click)="signOut()">Logout</a>
</nav>
