@import '../../variables';

nav {
    background-color: $navColor;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.276);
    position: sticky;
    display: flex;
    top: 0;

    @media (max-width: 767px) {
        display: none;
    }
}


a {
    display: inline-block;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    color: $textColor;
    font-weight: bolder;

}

.hello {
    line-height: 3.13;
    color: $textColor;
}

a.active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

a:hover {
    background-color: $navHover;
    color: white;
}

a[hidden] {
    display: none;
}

.sidenav {
    height: 100%;
    width: 30vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $navColor;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none;
    flex-direction: column;

    @media (max-width: 767px) {
        display: flex;
    }

}

.sidenav a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
    font-size: 0.8rem;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.sidenav a:hover {
    color: $navHover;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}

.burgerContainer {
    background-color: $navColor;
    padding: 20px;
    display: none;

    @media (max-width: 767px) {
        display: flex;
    }

}

.burger {
    color: $textColor;
    font-size: 1.5rem;
    margin: -20px;
    line-height: 2;
}

.burger:hover {
    cursor: pointer;
}