@import '../../variables';

h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: $beutyText;
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.formFrame {
    width: 400px;
    max-width: 100%;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: 0 0 6px #00000085;
    padding: 20px;
    margin-top: 5rem;

}

h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    color: $textColor;
}

.field {
    padding: 15px;

}

label {
    margin-bottom: 3px;
    margin-right: 8px;
    color: $textColor;
}

input,
textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #616161;

}

button {
    margin-top: 1.6rem;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background: $navColor;
    color: $textColor;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

button[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

button:hover {
    box-shadow: 0 0 6px #94949485;
    background: $navHover;
    color: white;
}