<h2>Register a new user</h2>

<form *ngIf="form" class="formFrame" [formGroup]="form">
  <h3 *ngIf="!user._id">Fill the form for registartion</h3>

  <div class="field">
    <label>User Name:</label>
    <input type="text" formControlName="userName" />
  </div>

  <div class="field">
    <label>Full Name:</label>
    <input type="text" formControlName="fullName" />
  </div>

  <div class="field">
    <label>Email:</label>
    <input type="text" formControlName="email" />
  </div>

  <div class="field">
    <label>Password:</label>
    <input type="password" formControlName="password" />
  </div>
  <div class="field">
    <label>Password Confirmation</label>
    <input type="password" formControlName="passwordConfirmation" />
  </div>
  <div>
    <button type="submit" (click)="send()">Submit</button>
  </div>
</form>
