$navColor: rgb(165, 232, 227);
$textColor: rgb(86, 85, 85);
$gridShadow: 2px 2px 2px rgba(98, 154, 160, 0.499);
$subTitleHome: rgb(142, 192, 189);
$navHover: rgb(78, 119, 137);
$beutyText: 'Cormorant Garamond';
$regularText: "Chivo Mono";