* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chivo Mono";
    position: relative;

}

body {
    top: 0;
    height: 100%;
    background-image: url('media/white-stained-textured-paper-background.jpg');
}

@import '_variables.scss';