<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Article Title</th>
      <th>Subtitle</th>
      <th>Article Category</th>
      <th>Author</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let a of articles.reverse(); let i = index"
      (dblclick)="edit(a)"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ a.title }}</td>
      <td>{{ a.subTitle }}</td>
      <td>{{ a.category }}</td>
      <td>{{ a.author }}</td>

      <td>
        <button class="edit" (click)="edit(a)">Edit</button>
        <button class="remove" (click)="remove(a)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>

<div
  class="card"
  *ngFor="let a of articles.reverse(); let i = index"
  (dblclick)="edit(a)"
>
  <p>
    <span style="text-decoration: underline">Article title</span>: {{ a.title }}
  </p>
  <p>
    <span style="text-decoration: underline"> article SubTitle</span>:{{
      a.subTitle
    }}
  </p>
  <p>
    <span style="text-decoration: underline">Article Category</span>:
    {{ a.category }}
  </p>
  <p><span style="text-decoration: underline"> Author</span>: {{ a.author }}</p>
  <button class="edit" (click)="edit(a)">Edit</button>
  <button class="remove" (click)="remove(a)">Remove</button>
</div>
