nav {
  background-color: rgb(165, 232, 227);
  color: black;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.276);
  margin-bottom: 30px;
  position: sticky;
  display: flex;
  top: 0;
}

a {
  display: inline-block;
  padding: 16px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(86, 85, 85);
  font-weight: bolder;
}

.hello {
  line-height: 3.13;
  color: rgb(86, 85, 85);
}

a.active {
  background-color: rgb(187, 216, 239);
  color: rgb(0, 0, 0);
}

a:hover {
  background-color: rgb(211, 195, 195);
}

a[hidden] {
  display: none;
}

.btn {
  margin-left: 6px;
  padding: -5px;
}
