.wraper {
    border: 1px solid rgb(245, 169, 169);
    margin: 20px;
    padding: 20px;
}

div {

    color: rgb(86, 85, 85);
    font-size: 1em;
    line-height: 2;
    text-align: center;
}

h2 {
    text-align: center;
}

h2:hover {
    color: rgb(82, 151, 147);
    text-decoration: underline;
    cursor: pointer;
}