@import '../../variables.scss';

.wraper {
    display: flex;
    z-index: 2;
    margin: 10px;
    padding: 20px;
}

div {
    color: $textColor;
    font-size: 1em;
    line-height: 2;
    text-align: left;
}

h2 {
    text-align: center;

}

h2:hover {
    color: $navHover;
    text-decoration: underline;
    cursor: pointer;
}