@import '../../_variables.scss';

.fContain {
    background: $navColor;
    width: 100vw;
    position: fixed;
    bottom: 0;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.598);
}

a {
    padding-left: 6px;
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
}

a.active {
    padding-left: 12px;
}

.fContain {
    display: flex;
    justify-content: space-around;
}

.aFotter a {
    margin-right: 10px;

}

.hello {
    color: $textColor;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.footerText {
    height: auto;
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    color: $textColor;
}