<form *ngIf="form" class="frame" [formGroup]="form">
  <h2 *ngIf="article._id">Edit Article</h2>
  <h2 *ngIf="!article._id">Add Article</h2>

  <div>
    <label class="field">Article Title:</label>
    <input type="text" formControlName="title" />
  </div>

  <div>
    <label class="field">Article Subtitle:</label>
    <input type="text" formControlName="subTitle" />
  </div>

  <div>
    <label class="field">Article Category:</label>
    <input type="text" formControlName="category" />
  </div>

  <div class="field">
    <label>Content:</label>
    <textarea formControlName="body" cols="30" rows="10" class="ta"></textarea>
  </div>

  <div class="field">
    <button
      *ngIf="article._id"
      (click)="update()"
      [disabled]="!form.valid"
      class="btn"
    >
      Save
    </button>
  </div>
</form>
